.jumbotron{
    background-color:black;
    color: white;
    margin-top: 30px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-combo{
    flex: 1 200px; /* cuanto se quiere que cresca el elemeto tipo flex */ 
    margin-top: 10px; 
}

.card{
    border: 0px;
}

.precio{
    margin-top: 5px;
}

.footer-address-icon{
    padding-right: 10px;
}

.btn-reserva{
    background-color: orangered;
    color:white;
    width: 219px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    
}

.btn-guardar{
    background-color: orangered;
    color:white;
    width: 219px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn-mostrar{
    background-color: orangered;
    color:white;
    width: 219px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-enviar{
    background-color: orangered;
    color:white;
    width: 930px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn-comentario{
    background-color: black;
    color:white;
    width: 930px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn-comentario2{
    background-color: grey;
    color:black;
    width: 930px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.rest{
    color:white;
}

.info{
    color: white
}

.tab-content{
    padding-top: 10px;
}
